body {
    background-color:powderblue;
    font-size:16px;
}

h2{
    color:red
}

p {
    background-color:pink;
    color:rgba(100, 0, 255, 0.5);
    /* the border shorthand property expects 3 values for the border-width, border-style, and border-color */
    border:5px dotted;

    /* pading is internal textbox spacing*/
    padding:50px;

    /* margin is external page border spacing*/
    margin:50px;
}

.banner {
    background-color:#7fff00;
    text-align:center;
}

img {
max-width:100%;
}

h2{
    color:blue;
}