body {
    background-color:black;
    font-size:16px;
}

h2{
    color:red;
}

p {
    background-color:navy;
    color:aqua;
    /* the border shorthand property expects 3 values for the border-width, border-style, and border-color */
    border: 2px dashed aqua;

    /* pading is internal textbox spacing*/
    padding:50px;

    /* margin is external page border spacing*/
    margin:50px;
}

.banner {
    background-color:magenta;
    text-align:center;
}

img {
max-width:100%;
}

h1 {
    color:aqua;
}

h2{
    color:magenta;
}

h3{
    color:white;
}

h4{
    color:white;
}

h5{
    color:white;
}

h6{
    color:white;
}

li {
    color:aqua
}

a {
    color:aqua
}

p {
    color:aqua
}