body {
    background-image: repeating-linear-gradient(45deg,red, yellow 10%, green 20%);
    font-size:16px;
    font-family:fantasy;
}

h1, p{
    color:black;
    width:60%;
    text-align:left;
}

table{
    background-color:rgb(0, 0, 0);
    width:60%;
    }

th{
    background-color:rgb(168, 168, 168);
    }

td {
    background-color:rgb(212, 212, 212);
    }

.center {
  text-align: center;
}